<% if (title) { %>
    <h1 id="invPgTitle"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<div class="account-page">
    <form class="account-form" action="/account/login" method="post">
        <label for="account_email">Email:</label>
        <input type="email" name="account_email" id="account_email" required placeholder="youremail@CSE.com">
        <label for="account_password">Password:</label>
        <input type="password" name="account_password" id="account_password" required>
        <button type="submit">Login</button>
        <div>
            <p>New account? <a href="/account/signup">Sign-Up</a></p>
        </div>
    </form>
</div>
