<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <a href="../../inv/type/99" title="use to throw error">Click to Break</a>
</footer>