<% if (title) { %>
    <h1 id="invPgTitle"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<% messages() %>
<div id="inv-manager">
    <a class="link-buttons" href="/inv/add-class">Add New Vehicle Classification</a>
    <a class="link-buttons"href="/inv/add-inv">Add New Vehicle to Inventory</a>
</div>
<div id="invListView">
    <h2>Manage Inventory</h2>
    <%- classificationSelect %>
    <table id="inv-display"></table>
    <noscript>JavaScript must be enabled to use this page</noscript>
</div>

<script src="../../js/inventory.js"></script>