<h1><%= title %></h1>
<div>
    <%- message %>
    <p>Once upon a midnight dreary,<br>
        While I web surfed, weak and weary, For pages long forgotten yore.<br>
        When I clicked my fav'rite href, Suddenly there came a warning,<br>
        and my heart was filled with mourning, Mourning for my dear /missing.pdf,
        "Tis not possible!", I muttered,<br>
        "Give thine pages, I emplore!" Quoth the server, 404.</p>
    <img src="/images/site/raven.webp" title="Image of a Raven" alt="Image of a Raven">
</div>

